html, body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 100%;
}
.body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.mapsMain, #map{
  height: 100%;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

.errorMessage{
  background-color: #fff;
  font-weight : bold;
  font-size: 18px;
  font: 400 18px Roboto, Arial, sans-serif;
  box-shadow: 0 0 3px #aaa;
  transition: opacity 0.3s;
  position: fixed;
  z-index: 1001;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}