
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');
*, *:after, *:before {
   -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
}
body {
  font-family: 'Roboto', 'Noto Sans KR' , cursive;
  /* font-family: 'Roboto',sans-serif; */
  overscroll-behavior-y: none;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --backgroundColor: rgba(49, 48, 48, 1);
  --fontColor: rgb(246, 237, 237);
  --objectColor: rgba(63, 59, 59, 0.959);
}

body, html { 
  font-size: 100%; padding: 0; margin: 0; height: 100%;
}
.container {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
}

.container > .main {
  height: 100%;
} 

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: var(--fontColor);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--fontColor);
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--fontColor);
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: var(--fontColor);
}
a:link {
  text-decoration: none;
  color: var(--fontColor);
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}